#morph-path {
    transition: opacity 0.5s ease;
}

/* Style spécifique pour quand la forme est une étoile */
.viz-star {
    fill: var(--accent-red);
}

#viz-label {
    fill: var(--text-color);
    font-family: var(--font-heading);
    font-size: 24px;
}